### OS ###
.DS_Store
Thumbs.db

### IDEs ###
.idea/
*.iml
.vscode/

### Build ###
.gradle/
build/
out/
!gradle/wrapper/
!gradlew
!gradlew.bat

### Logs ###
*.log

### Spring Boot ###
# exclude compiled classes
target/
bin/
*.class

# exclude packaged JAR/WAR
*.jar
*.war

### Environment ###
.env
*.env
application-*.yml
application-*.properties

### Misc ###
*.tmp
*.bak
*.swp